felix.fileinstall.active.level="80"
felix.fileinstall.dir="D:\\Dokumente\\Studium\\Smart-Home\\OpenHab/addons"
felix.fileinstall.filename="file:/D:/Dokumente/Studium/Smart-Home/OpenHab/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="1000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="D:\\Dokumente\\Studium\\Smart-Home\\OpenHab\\userdata/tmp/bundles"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.368d8786-34ce-46fa-bc6a-6bfa9a7060fd"
