felix.fileinstall.filename="file:/D:/Dokumente/Studium/Smart-Home/OpenHabZeug/OpenHab/userdata/etc/org.ops4j.pax.url.mvn.cfg"
org.ops4j.pax.url.mvn.defaultRepositories="file:D:\\Dokumente\\Studium\\Smart-Home\\OpenHabZeug\\OpenHab\\runtime/system@id\=system.repository@snapshots,\ file:D:\\Dokumente\\Studium\\Smart-Home\\OpenHabZeug\\OpenHab\\userdata/kar@id\=kar.repository@multi@snapshots,\ file:D:\\Dokumente\\Studium\\Smart-Home\\OpenHabZeug\\OpenHab\\userdata/system@id\=child.system.repository@snapshots"
org.ops4j.pax.url.mvn.localRepository="D:\\Dokumente\\Studium\\Smart-Home\\OpenHabZeug\\OpenHab\\userdata/tmp/mvn"
org.ops4j.pax.url.mvn.repositories="https://dl.bintray.com/openhab/mvn/online-repo/2.0@id\=openhab@snapshots"
org.ops4j.pax.url.mvn.useFallbackRepositories="false"
service.pid="org.ops4j.pax.url.mvn"
